* {
    margin: 0;
    padding: 0;
}

.main-header {
    background-color: red;
    text-align: center;
    padding: 10px;
}

.navigation {
    background-color: red;
    text-align: center;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav-list li {
    width: 100%;
}

.nav-list li a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    display: block;
    text-align: center;
    padding: 10px;
}

.content-container {
    display: flex;
    flex-direction: row;
    height: 80vh;
}

.main-content {
    display: flex;
    flex-direction: row;
}

.main-content p {
    background-color: skyblue;
    border: 1px dashed white;
    flex: 1;
    padding: 10px;
}

.left-sidebar {
    background-color: yellow;
    width: 60%;
}

.right-sidebar {
    background-color: blueviolet;
    width: 60%;
}

.main-footer {
    padding: 20px;
    background-color: lawngreen;
    text-align: center;
}
